
<div class="jumbotron">
  <div class="container">
    <h1>Pin headers</h1>
    <p>Pin headers are often associated with ribbon cable connectors, pin headers often also function as recipients for jumpers. The most common jumper spacing is 2.54 millimetres (0.1 in), though 2.0 millimetres (0.079 in) is sometimes used in smaller products.

Pin header connectors are thus "male" connectors ("female" counterparts do exist, but these are normally just called female header (FH) or header connector, without "pin") and are mostly used inside equipment, rather than being used as a connector on the outside of the device.[2]

Normally pin hello headers are pin through hole (PTH) devices, but surface-mount technology (SMT) versions of one and two row pin headers also exist. In the latter case the solder sides of the pins are simply bent on a 90 degree angle so as to be soldered to a solder plane. On single row pin headers the pins are bent alternating to one side or the other, on dual row pin headers the pins are simply bent outwards. If pin headers are optional, the PTH variant is often chosen for ease of manual assembly. Pin headers can be either straight or angled. The latter form is often used to connect two boards together.

Pin headers are cost-effective due to their simplicity. Headers are often sold as long strips (typically 40 or 50 pins for the dual row versions) which can easily be broken off to the right number of pins.</p>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>
